@namespace SCSE.HcecliTest.Module.Pages
@page "/"
@inject ApplicationContext appContext

@using SCSE.HcecliTest.ORM
@using SCSE.DynamicForms.Module.Domain
@using SCSE.Framework.Application.Core
@using SCSE.Framework.Common.Components.Blz
@using SCSE.DynamicForms.Components

<MudPaper MinHeight="100px" Class="d-flex align-center pa-5 mb-2" Elevation="0" Outlined="true">
    <MudText Typo="Typo.h4">Datos del paciente</MudText>
</MudPaper>

<MudGrid Spacing="1" Class="mb-2">
    <MudItem xs="2">
        <MudPaper Class="d-flex mud-height-full pa-1 justify-center" Elevation="0" Outlined="true" MinHeight="70vh">
            <MudText Typo="Typo.h6">Zona de filtros</MudText>
        </MudPaper>
    </MudItem>

    <MudItem xs="10" >
        <MudDynamicTabs @ref="tabs" Elevation="0" Outlined="true" Rounded="false" KeepPanelsAlive="true" ApplyEffectsToContainer="true" 
            PanelClass="d-flex mud-height-full px-4 py-6 white" CloseTab="@((panel) => CloseTabCallback(panel))" 
            @bind-ActivePanelIndex="IndexTab" CloseIconToolTip="Cerrar">
            @if (Templates != null)
            {
                @foreach (var item in Templates)
                {
                    <MudTabPanel Tag="@item.Code" ID="@item.Code" Text="@item.Description">
                        <DynamicFormRenderComponent Code="@item.Code" TemplateVersion="@item.Version"  Program="chppla" @ref="@item.Template" TemplateCode="@item.Code" Context="Context" LoadPartialData="true" OnEditorEvent="OnRaiseEditorEvent" />
                    </MudTabPanel>
                }
            }
        </MudDynamicTabs>
    </MudItem>
</MudGrid>

<MudPaper Elevation="0" Outlined="true" Class="pa-1">
    <MudMenu Label="Componentes" MaxHeight="500" FullWidth="true" Style="width: 300px;" Variant="Variant.Filled" Color="Color.Primary">
        @if (TemplatesMenuList != null)
        {
            @foreach (var item in TemplatesMenuList)
            {
                <MudMenuItem OnClick="(()=> OnClickMenu(item))">
                    <span class="d-flex">
                        <MudIcon Icon="@Icons.Material.Filled.ChevronRight" Color="Color.Primary"/> @item.Name
                    </span>
                </MudMenuItem>
            }
        }
    </MudMenu>
@*    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Validate">Validar</MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="SavePartial">Guardar parcial</MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Test">Test</MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Test2">Plantilla prueba 2</MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="GetData">Obtener Datos</MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="SetValue">SetValue</MudButton>*@

    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Save">Guardar</MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Load">Cargar Datos</MudButton>
</MudPaper>

@*<MudAppBar Bottom="true" Fixed="true" Elevation="1" Dense="true" Color="Color.Primary">

</MudAppBar>*@