@namespace SCSE.HcecliTest.Module.Pages
@page "/"
@inject ApplicationContext appContext

@using SCSE.HcecliTest.ORM
@using SCSE.DynamicForms.Module.Domain
@using SCSE.Framework.Application.Core
@using SCSE.Framework.Common.Components.Blz
@using SCSE.DynamicForms.Components

<MudPaper Class="pa-5 mud-width-full infopatient-header-scse" Elevation="1" Square="true">
    <MudText Typo="Typo.h5" Color="Color.Dark">Datos del paciente</MudText>
</MudPaper>

<div class="pa-3 infopatient-body-scse">
    @if(SearchMode)
    {
        <MudGrid Spacing="1" Class="mud-height-full">
            <MudItem xs="2">
                <MudPaper Class="d-flex pa-1 justify-center mud-height-full" Elevation="1">
                    <MudText Typo="Typo.h6">Zona de filtros</MudText>
                </MudPaper>
            </MudItem>

            <MudItem xs="10">
                    <MudCard Class="mud-width-full">
                        <MudCardContent>
                            <MudText>Story of the day</MudText>
                            <MudText Typo="Typo.body2">The quick, brown fox jumps over a lazy dog.</MudText>
                        </MudCardContent>
                        <MudCardActions Class="d-flex justify-end">
                            <MudButton Variant="Variant.Filled" Class="mr-2" Color="Color.Primary">Firmar</MudButton>
                            <MudButton Variant="Variant.Filled" Color="Color.Secondary">Editar</MudButton>
                        </MudCardActions>
                    </MudCard>
            </MudItem>
        </MudGrid>
    }
    else
    {
        <MudDynamicTabs @ref="tabs" Elevation="1" Rounded="true" KeepPanelsAlive="true" 
            ApplyEffectsToContainer="true" Class="mud-height-full"
            PanelClass="d-flex mud-height-full px-4 py-6 white" 
            CloseTab="@((panel) => CloseTabCallback(panel))"
            @bind-ActivePanelIndex="IndexTab" CloseIconToolTip="Cerrar">
            @if (Templates != null)
            {
                @foreach (var item in Templates)
                {
                    <MudTabPanel Tag="@item.Code" ID="@item.Code" Text="@item.Description">
                        <DynamicFormRenderComponent Code="@item.Code" TemplateVersion="@item.Version" Program="chppla" @ref="@item.Template" TemplateCode="@item.Code" Context="Context" LoadPartialData="true" OnEditorEvent="OnRaiseEditorEvent" />
                    </MudTabPanel>
                }
            }
        </MudDynamicTabs>
    }
</div>

@*<MudAppBar Bottom="true" Fixed="true" Elevation="1" Dense="true" Color="Color.Primary">
</MudAppBar>*@

<MudPaper Elevation="1" Class="px-3 py-1 mud-width-full infopatient-footer-scse" Square="true">
    <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="History" Class="mr-2">Histórico</MudButton>

    <MudMenu Label="Componentes" MaxHeight="500" FullWidth="true" Style="width: 300px; height: 30px"
        Variant="Variant.Filled" Color="Color.Primary" >
        @if (TemplatesMenuList != null)
        {
            @foreach (var item in TemplatesMenuList)
            {
                <MudMenuItem OnClick="(()=> OnClickMenu(item))">
                    <span class="d-flex">
                        <MudIcon Icon="@Icons.Material.Filled.ChevronRight" Color="Color.Primary" /> @item.Name
                    </span>
                </MudMenuItem>
            }
        }
    </MudMenu>

    @*<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Validate">Validar</MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="SavePartial">Guardar parcial</MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Test">Test</MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Test2">Plantilla prueba 2</MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="GetData">Obtener Datos</MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="SetValue">SetValue</MudButton>*@

    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Save" Class="mr-2">Guardar</MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Load">Cargar Datos</MudButton>
</MudPaper>
